@{
    ViewBag.Title = "İletisim";
}
<div class="container p-5 m-5 w-75">
    <div class="form-group row">
        <form method="post" id="iletisim_formu">

            <div class="col-xs-2">
                <p for="email" class="form-label">Email Adresiniz</p>
                <input type="email" name="email" class="form-control" id="Email">
            </div>

            <div class="col-xs-2">
                <label for="Adi" class="form-label">Adınız</label>
                <input type="text" class="form-control" id="Adi" name="Adi" required>
            </div>

            <div class="col-xs-2">
                <label for="Soyadi" class="form-label">Soyadınız</label>
                <input type="text" class="form-control" id="Soyadi" name="Soyadi" placeholder="">
            </div>

            <div class="col-xs-2">
                <label for="Mesaj" class="form-label">Mesajınız</label>
                <textarea class="form-control" id="Mesaj" name="Mesaj" rows="3" required></textarea>
            </div>

            <button type="button" class="btn btn-primary" onclick="iletisim_formu()">Gönder</button>

        </form>

    </div>



</div>
@section scripts{
    <script>
        function iletisim_formu() {
            var email = $("#Email").val();
            var adi = $("#Adi").val();
            var soyadi = $("#Soyadi").val();
            var mesaj = $("#Mesaj").val();

            var message = {
                "email": email,
                "adi": adi,
                "soyadi": soyadi,
                "mesaj": mesaj
            };

            $.ajax({
                method: "POST",
                url: "/Home/İletisim",
                type: "json",
                data: message,
                success: function (data) {
                    document.getElementById("iletisim_formu").reset();
                    $("#sonuc").show().html("Mesajınız Gönderildi!").delay("5000").fadeOut();
                },
                error: function (err) {
                    alert("Hata Oluştu!");
                }

            });
        }
    </script>
}
